<h1>Welcome to goalKeeper!!</h1>
<p>goalKeeper is a personal tracker for goals and rewards.</p>


<%= link_to 'My Goals', goals_path(current_user) %>

<%= link_to 'My Rewards', rewards_path(current_user) %>